version: 2.1

workflows:
  version: 2
  test:
    jobs:
      - unit-test:
          matrix:
            parameters:
              python-version: ["3.8", "3.9", "3.10"]
      - integration-test:
          matrix:
            parameters:
              python-version: ["3.8", "3.9", "3.10"]
      - docset

jobs:
  unit-test:
    parameters:
      python-version:
        type: string
    docker:
      - image: python:<< parameters.python-version >>
    steps:
      - checkout
      - run: pip install -r requirements.txt
      - run: black --check .
      - run: mypy algosdk
      - run: pytest tests/unit_tests
  integration-test:
    parameters:
      python-version:
        type: string
    machine:
     image: "ubuntu-2004:202104-01"
    steps:
      - checkout
      - run: PYTHON_VERSION=<< parameters.python-version >> make docker-test
  docset:
    docker:
      # NOTE: We might eventually need Docker authentication here.
      - image: cimg/python:3.8
    steps:
      - checkout
      - run:
          # NOTE: We might add caching at `pip` level here.
          command: |
            pip install -r requirements.txt
            cd docs
            pip install -r requirements.txt
            pip install sphinx sphinx_rtd_theme doc2dash
            make html
            doc2dash --name py-algo-sdk --index-page index.html --online-redirect-url https://py-algorand-sdk.readthedocs.io/en/latest/ _build/html
            tar -czvf py-algo-sdk.docset.tar.gz py-algo-sdk.docset
            mv py-algo-sdk.docset.tar.gz /tmp
      - store_artifacts:
          path: /tmp/py-algo-sdk.docset.tar.gz
          destination: py-algo-sdk.docset.tar.gz
