version: 2.1
jobs:
  unit-test:
    docker:
      - image: python:3.7.9
    steps:
      - checkout
      - run: pip install -r requirements.txt
      - run: black --check .
      - run: python3 test_unit.py
  integration-test:
    machine:
     image: "ubuntu-2004:202104-01"
    steps:
      - checkout
      - run: make docker-test
workflows:
  version: 2
  test:
    jobs:
      - unit-test
      - integration-test
